.container {
  max-width: 900px;
  padding: 0 2rem;
  margin: 0 auto;;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


main a {
  text-decoration: none;
}

header {
  display: flex;
  gap: 1rem;
  width: 100%;
  background: gray;
  margin: auto;
  padding: 1rem;
  color: white;
}

.active {
  color: red;
  font-weight: bold;
  font-size: large;
}

